In [19]:
import webbrowser
import pandas as pd

In [25]:
i=0
j=0
long = ['17.78','31.38','29.12']
lat=['5.43','7.82','6.94']
X=[]
Y=[]
Z=[]
for i in range(0,len(long)):
    r=requests.get("https://rest.soilgrids.org//query?lon="+long[i]+"&lat="+lat[i])
    c= r.text
    soup = BeautifulSoup(c,"html.parser")
    x = json.loads(str(soup))
    X.append(x["properties"]["PHIHOX"]["M"]['sl1'])
    Y.append(x["properties"]["PHIKCL"]["M"]['sl2'])
    Z.append(x["properties"]["NTO"]["M"]['xd1'])
    i+=1
    j+=1

In [29]:
d={'phW':X,'phK':Y,'NTO':Z}
df=pd.DataFrame(data=d)

In [30]:
df

     NTO  phK  phW
0  0.613   49   58
1  1.000   49   68
2  0.805   51   60